.welcome-msg{
  font-size: 1em;
  background-color: rgb(11, 189, 129);
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
  text-align: center; /* Center-align text */
}

.login-prompt{
  font-size: medium;
  background-color: rgb(226, 19, 19);
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}

.card{
  border: 1px solid rgb(235, 224, 224);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(176, 194, 204, 0.103);  
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card .card-image{
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card .card-title{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: hsl(0, 0%, 20%);
}
.card .card-text{
  font-family: Arial, Helvetica, sans-serif;
  color: hsl(0, 0%, 30%);
}

.para{
  padding: 10px;
}
.student{
  font-family: cursive;
  font-size: 1em;
  padding: 10px;
}

.student p{
  margin: 0;
}

.button{

  background-color:rgb(197, 121, 20);
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-left: 10px;

}